doctype html
html
  head
    meta(charset='utf-8')
    title Reseach Project CISS - Node
    link(rel='stylesheet', href='/stylesheets/milligram.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/sigma.min.js')
    style.
      .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      padding:10px;
      border-radius:3px;
      min-width:100%;
      margin-bottom:30px;
      border-width:1px;
      border-style:solid;
      border-color:rgb(240, 240, 240);
      }
      #graph-container {
      max-width: 400px;
      height: 400px;
      margin: auto;
      }
  body
    block content